doctype html
html
    head
        title= title
        link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css' integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO' crossorigin='anonymous')
        link(href='/stylesheets/style_music.css' type='text/css' rel='stylesheet')
    body
        h1 My favorites:
         each artist in artists

            h3=artist.name
            img.img-thumbnail(src=artist.pictureUrl)
            form(method='POST' action='/destroy/favorite')
                input(type="hidden" id="delete" name="artistId" value=artist.deezerArtistId)
                button.btn.btn-primary(type='submit') Delete from favorite

            - var artistReport = artist.artistReport;
            if artistReport
                h3 totalAvgDuration: #{artistReport.totalAvgDuration}
                h3 totalAvgRank: #{artistReport.totalAvgRank}
            else
                h3 No Report

