doctype html
html
    head
        title= title
        link(href='/stylesheets/style.css' type='text/css' rel='stylesheet')

    body
        h1= title
        h3 (#{date})
        p The superhero is #{morInfoo}
        img(src=coverFull)
        h4 #{wikiData}

