doctype html
html
    head
        title= title
        link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css' integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO' crossorigin='anonymous')
        link(href='/stylesheets/style_music.css' type='text/css' rel='stylesheet')

    body
        h1= title

          each albumTrack in numTracks

            h4= albumTrack.track_position
            h3= albumTrack.title

            br
              
            //- h3 listen to the treck  #{albumTreck.link} 
            //- a(href="https://www.deezer.com/track/"+albumTreck.id)= listen to the treck 
          
            //h3 This Album has #{numTracks.total} Tracks

        
        
