html
    head
        title= title
        link(href='/stylesheets/style_music.css' type='text/css' rel='stylesheet')

    body

        h1 #{dataAr.name}
        h3 The specific artists and all the albums of that artist.
        h2 This artist has #{dataAr.nb_album} albums.
        each specificArtist in dataAlb
          a(href="/albums/"+specificArtist.id)= specificArtist.title
          br
          img(src=specificArtist.cover_xl) 
          br

        
        
        
      
